<div class="container">
  <div class="row">
    <% @vans.each do |van| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-trip">
          <img src="file" alt="camper-image" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to "#{van.title}", van_path(van.id)%></h2>
              <p><%= "#{van.location}" %></p>
              <p>Sleeps: <%= "#{van.size}" %></p>
              <p>€<%="#{van.price_per_night}"%> per night</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
