.tabs.guest-tabs {
  display: flex;
  justify-content: space-between!important ;
  text-decoration: underline;
}

.containers-guests {
  width: 100%;
  // display:flex;
align-items: center;

}

.container-guest {
 padding-bottom: 50px;
  flex-grow: 1;
  text-align: left;
  flex-direction: row;
  display:flex;
  justify-content: space-around;
}

.container.guest-high {
  min-height: 100vh;

}

.cards-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;

}

.cards-booking img {
  height: 200px;
  width: 100%;
  object-fit: cover!important;
}

.cards-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.cards-booking-infos h2 a {
  font-size: 20px;
}

.cards-booking .cards-booking-infos {
  padding: 16px;
  display: inline-grid;
  // justify-content: space-between;
  position: relative;
      font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
