// Import page-specific CSS files here.
@import "home";
@import "list";
@import "account";
@import "show";
@import "trips";


 p, span {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
