.banner-show {
  height: 400px;
  overflow: hidden;
  background-position: bottom;
  position: relative;
}

.banner-show img {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: bottom;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.banner-show .search-header h2 {
  width: 100%;
  color: white;
}

.container-description {
  margin: -150px 20px 20px 20px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 30px;
  width: 356px;
  z-index: 1;
}

.container-description li {
  list-style: none;
  font-size: 20px;
  font-weight: 10px;
}


.container-description p {
  font-size: 20px;
}

.header-show {
  display: flex;
  padding-bottom: 20px;
}

.header-show .img-wagon {
  width: 60px;
  object-fit: contain;
  height: 70px;
  margin: 5px;
}

.header-show h1 {
  font-size: 60px;
}

.container-show {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.show-icon {
  width: 15px;
  object-fit: contain;
  height: 20px;
  margin-top: 6px;
}

.row .show-card {
  margin: 0px;
  width: 280px;
}

.show-card p {
  font-size: 15px;
}

.description-container {
  display: flex;
}
.description {
  width: 500px;
}

.description-box {
  padding: 20px;
  margin-right: 50px;
}

.row .show-card .btn {
  width: 90%;
}

.row .description-show{
  padding-right: 30px;
}


