<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515876305430-f06edab8282a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <div class="row">
      <div class="search-flex">
        <h1 class="search-header">Where do you want a campervan?</h1>
        <input class="form-control form-control-lg" type="text" placeholder="Location">
        <a class="btn btn-success" href="#">Search</a>
      </div>
    </div>
  </div>
</div>
