// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "registration";
@import "card";

.search-header {
  width: 100%;
  color: white;
}

body {
font-family: 'Pathway Gothic One', sans-serif;
color: #686565;
}

.search-header {
  font-size: 30px;
  font-weight: 10px;
}

.search-header h2 {
  font-weight: lighter;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

.search-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
