.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 10px;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.burger {
  width: 30px;
}

.dropdown-menu p, a {
  color: #ff9a76;
  text-shadow: none;
}

.dropdown-menu {
  padding: 20px;
  margin-top: 20px;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  vertical-align: center;
}


