.container-signup {
 width: 550px;
 position: relative;
 top: 25px;
 left: 660px;
 border: solid 3px #ffeadb;
 border-radius: 5%;
 padding: 50px 50px 30px 50px;
 margin-top: 40px;
}

h2 {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 32px;
padding-bottom: 12px;
}

.form-inputs {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 18px;
}

.btn {
  font-family: 'helvetica', sans-serif;
font-size: 14px;
font-weight: lighter;
}


.remember_me {
  color: #679b9b;
}

.shared a {
  color: #686565;
  font-size: 19px;
  opacity: 0.4;
  font-weight: lighter;
}

.shared :hover {
  color: #679b9b;
  text-decoration: underline;
}
