.container-forms{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-signup {
 width: 550px;
 top: 25px;
 left: 660px;
 border: solid 3px #ffeadb;
 border-radius: 5%;
 padding: 50px 50px 30px 50px;

}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 32px;
  padding-bottom: 12px;
}

.form-inputs {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
}

.btn {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #686565;

}


.remember_me {
  color: #679b9b;
}

.shared a {
  color: #686565;
  font-size: 18px;
  opacity: 0.4;
  font-weight: lighter;
  font-family: 'Pathway Gothic One', sans-serif;
}

.shared :hover {
  color: #679b9b;
  text-decoration: underline;
}
