<div class = "container">
  <h1>Leave a review for this booking!</h1>
  <% unless @user.nil? %>
    <%= render "form_user", review: @review%>
  <% else @van.nil? %>
    <%= render "form_van", review: @review%>
  <% end %>
  <%= link_to 'Back to all bookings', vans_path %>
</div>
