<div class="container-page">
<!-- <div class="container-account" >
 -->  <div class="table">
     <ul id="account-values" >
       <% @current_user %>
      <li><%= link_to "Profile", current_account_path(current_user)%></li>
      <li><%= link_to "Bookings", current_account_path %></li>
      <li><%= link_to "Your Van(s) Dashboard", vans_path()%></li>
      <li><%= link_to "Homepage", root_path() %></li>
      <br />
      </ul>

      <br />
      <br />
      </div>
<div class="container-account" >
  <div class="container emp-profile">
     <h1>Profile Page</h1>
       <br />
           <div class="row">
             <div class="col-md-4">
                 <div class="profile-img">
                 <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="profile-picture"/>
               <div class="file btn btn-lg btn-primary">
                     Change Photo
                <input type="file" name="file"/>
                </div>
              </div>
          </div>

          <div class="col-md-6">
            <div class="profile-head">
              <h5>Plum VanLord</h5>
                <h6> Best dog ever and enthusiastic van renter</h6>
              <p class="proile-reviews">Vanners review Plum: <span>8/10</span></p>

<!-- Start tabs -->

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">History</a>
        </div>
      </nav>
          </div>


    <!-- content for personal details:
 -->

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <div class="row">
          <div class="col-md-12">
           <label>Your Bio</label>
         </div>

         <p>Loving dog, who loves to rent vans with her boss Tom.
         Just had a great experience in Australia, where I was born, and where my boss and I were introduced to the character of traveling in a van.
         This inspired us in buying vans and redecorating them completly. Now we are the happy owners of more than 6 vans, and as we speak working on a new beauty an
         gain. Please browse through my Vans and contact me if you're intrested! </p>
       </div>

        </div>


        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class='row'>
         <div class="col-md-6">
           <label>Name</label>
         </div>
         <div class="col-md-6">
          <p>Plum Van Lord</p>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Country</label>
          </div>
          <div class="col-md-6">
            <p>Netherlands</p>
          </div>
        </div>

            <div class="row">
          <div class="col-md-6">
                <label>Address</label>
          </div>
          <div class="col-md-6">
            <p>IJsbaanpad 9, Amsterdam</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
                <label>Email</label>
          </div>
          <div class="col-md-6">
            <p>plummy@gmail.com</p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-6">
              <label>Phone number</label>
            </div>
            <div class="col-md-6">
              <p>+123 456 7890</p>
            </div>
          </div>

          <div class="row">
           <div class="col-md-6">
               <label>Nationality</label>
           </div>
           <div class="col-md-6">
               <p> Australian </p>
           </div>
          </div>

          <div class="row">
           <div class="col-md-6">
              <label>Member since</label>
           </div>
           <div class="col-md-6">
               <p>8th February, 2016</p>
           </div>
          </div>
        </div>

       <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

       <div class="row">
        <div class="col-md-6">
            <label>Host qualities</label>
        </div>
        <div class="col-md-6">
          <p>Professional</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <label>Van qualities</label>
        </div>
        <div class="col-md-6">
          <p>Chique and client friendly</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <label>Daily Rate</label>
        </div>
        <div class="col-md-6">
          <p>€110/p.d</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-6">
            <label>Past Bookings</label>
        </div>
        <div class="col-md-6">
          <p>26</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <label>Available vans</label>
        </div>
        <div class="col-md-6">
          <p>6</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Total reviews</label>
        </div>
        <div class="col-md-6">
          <p>453</p>

           </div>
        </div>
      </div>
      </div>
    </div>

  </div>
 </div>
</div>
</div>
